.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0px 30px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}
.category > button {
  margin: 10px;
  padding: 10px;
  min-height: 11dvh;
  font-size: 2dvh;
  border: none;
  border-radius: 20px;
}
.hometitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 30px;
}
.hometitle > button {
  margin: 10px;
  padding: 10px;
  height: 7dvh;
  font-size: 2dvh;
  border: none;
  border-radius: 20px;
}
.hometitle > h1 {
  font-size: 4dvh;
  
}
