.finishtitle {
  text-align: center;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}
.finishtitle > h1 {
  font-size: 2em;
}
.finishtitle > span {
  margin: 10px;
  font-size: 1em;
}
.stattitle {
  text-align: center;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}
.stattitle > div > button {
  padding: 10px;
  margin-bottom: 20px;
  min-height: 2dvh;
  font-size: 1em;
  border: none;
  border-radius: 20px;
}
.stattitle > span {
  margin: 10px;
  font-size: 1em;
}
.chart {
  margin-top: -30px;
  display: flex;
  justify-content: center;
}
.chart > div {
  width: 90dvw;
  max-width: 1100px;
  height: 60dvh;

  @media (max-width: 1200px) {
    height: 50dvh;
  }
  @media (max-width: 1000px) {
    height: 40dvh;
  }
  @media (max-width: 700px) {
    height: 30dvh;
  }
}
